.idea
.vscode
.DS_Store
web-build
web-report

node_modules
.expo
.expo-shared
.history
npm-debug.*
*.log
yarn.lock

beta
vendor
.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
mobile/package-lock.json
